include /partials/_svg_element
include /partials/_picture_element

block page

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='canonical', href=$fullPath(path))
    title #{meta[page].title}
    meta(name='description' content=meta[page].description)
    meta(name='keywords' content=meta[page].keywords)
    meta(data-key='format-detection', name='format-detection', content='telephone=no')
    meta(property='og:locale', content='ja_JP')
    meta(property='og:title', content=meta[page].title)
    meta(property='og:description', content=meta[page].description)
    meta(property='og:url', content=$fullPath(path))
    meta(property='og:type', content='article')
    meta(property='og:image', content=$fullPath('/assets/images/ogp.jpg'))
    meta(name='twitter:title', content=meta[page].title)
    meta(name='twitter:description', content=meta[page].description)
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:image', content=$fullPath('/assets/images/ogp.jpg'))
    link(rel='apple-touch-icon-precomposed', type='image/png', href=$fullPath('/assets/images/apple-touch-icon-precomposed.png'))
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;500;900&family=Six+Caps&display=swap", rel="stylesheet")
    link(rel="stylesheet", href=$cachedRoutePath('/assets/css/app.css'))
  body(data-barba="wrapper",class=[page])
    div#webgl
    header.header
      div
        p.header-logo
          a(href=`${process.env.TARGET_SERVER === 'local' ? 'http://localhost:8080/': 'https://hisamikurita.github.io/threejs-barbajs-demo/dist/'}`) HISAMI KURITA
        p.header-text
          | This is
          br
          | Hisami kurita’s
          br
          | Demo site
      ul.header-list
        li.header-item.header-item-index
          a(href=`${process.env.TARGET_SERVER === 'local' ? 'http://localhost:8080/': 'https://hisamikurita.github.io/threejs-barbajs-demo/dist/'}`).header-link Home
        li.header-item.header-item-about
          a(href=`${process.env.TARGET_SERVER === 'local' ? 'http://localhost:8080/': 'https://hisamikurita.github.io/threejs-barbajs-demo/dist/'}about`).header-link About
        li.header-item.header-item-service
          a(href=`${process.env.TARGET_SERVER === 'local' ? 'http://localhost:8080/': 'https://hisamikurita.github.io/threejs-barbajs-demo/dist/'}service`).header-link Service
        li.header-item.header-item-feature
          a(href=`${process.env.TARGET_SERVER === 'local' ? 'http://localhost:8080/': 'https://hisamikurita.github.io/threejs-barbajs-demo/dist/'}feature`).header-link Feature

    h1.title
      span.title-01 Implementing A Creative Website using
      br
      span.title-02 Three.js & Barba.js

    p.link
      span.link-01 article
      br
      span.link-02 coming soon

    //- button.switch

    p.num
      span.num-count
        - for (var i = 1; i < 5; i++)
          span(class=`num-count-0${i}`).num-count-index #{i}
      span.num-all 4

    main.main
      block content

    script(src=$cachedRoutePath('/assets/js/app.js'))
